// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// body {
//     background-image: url("/img/background.jpg");
//     color: white !important;
// }

// own sections

section {
    margin-top: 50px;
}

.welcome {
    background-color: darkolivegreen;
}

// own components

// bootstrap

.navbar {
    background-color: #ff9640;
}

// own utilities

.grayscale {
    filter: grayscale(60%);
    transition-duration: 300ms;
    &:hover {
        filter: none;
        transition-duration: 300ms;
    }
}

.slick-slider {
    width: 100%;
    margin: auto;

    @media screen and (min-width: 480px) {
        width: 85%;
    }
    @media screen and (min-width: 570px) {
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        width: 75%;
    }
    @media screen and (min-width: 992px) {
        width: 100%;
    }

    .slick-arrow {
        color: #373737 !important;
        opacity: 1;

        &::before {
            @extend .slick-arrow;
        }
        &.slick-prev {
            left: 0;
            z-index: 5;

            @media screen and (min-width: 480px) {
                left: -20px;
            }
        }
        &.slick-next {
            right: 0;

            @media screen and (min-width: 480px) {
                right: -20px;
            }
        }
    }
}
